@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

strong{
    color: rgba(214, 95, 10, 0.859);
    font-family: "Bebas Neue";
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 16.6vw;
}

header > h1{
    color: white;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 8vw;
}

header > p{
    color: white;
    text-align: center;
    font-size: 1.4vw;
}

main section{
    background-color: white;
    border: 1px solid black;
    box-shadow: inset 0px 5px 30px black;
}

main p{
    font-family: "Shadows Into Light";
    font-size: 3vw;
    font-weight: 900;
    width: 32vw;
    max-width: 810px;
    padding: 10px;
    margin: 20px;
}

.image{
    background-attachment: fixed;
    background-size: cover;
    background-position: center left;
}

.image p{
    background-color: rgba(58, 56, 56, 0.547);
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 0.889);
}

.image#s1{
    background-image: url(imagens/sapo.jpg);
}

.image#s2{
    background-image: url(imagens/livro.jpg);
}

.noimage{
    background-image: url(imagens/wallpaper004.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: auto;
    color: black;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3em;
}

footer > p{
    color: white;
    font-family: "Abril Fatface";
    font-size: 20px;
}